
.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover; 
  background-attachment: fixed;
  margin: 0 auto;
  padding: 10px;
  
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-height: 100vh;
  position: relative; 
  padding-block-end: 20px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--decorations);
  border-block-start: 1px solid var(--decorations);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--decorations);
  border-block-end: 1px solid var(--decorations);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 0;
  inset-block-end: 20px;
}


.rec {
  position: absolute;
  display: var(--display-rec);
  inset-inline-end: 28px;
  inset-block-start: 0;
  color: var(--accent-color);
  font-family: var(--accent-font), monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.rec::before {
  content: ""; 
  display: block; 
  width: 9px; 
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__title { 
  color: var(--title-dark, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-family: var(--accent-font), monospace;
}


.header__theme-menu-button{
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--decorations);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  font-family: var(--accent-font), monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
  padding: 3px 10px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorations);
  pointer-events: none; 
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorations);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:active {
  border: 1px solid var(--decorations);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  font-family: var(--accent-font), monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  list-style-type: none; 
  display: flex;
  flex-direction: column;
  gap: 12px; 
}




.header__p{
  justify-self: center;
  background-color: var(--accent-color);
  height: fit-content;
  color: var(--p-text);
  font-family: var(--accent-font), monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}


.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  margin: 0 auto;
  padding-top: 30px;
}

.main__title {
  font-family: var(--accent-font), monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--p-title);
  
}


.p__title {
  background-color: var(--accent-color);
  color: var(--p-text);
  font-family: var(--accent-font), monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  height: fit-content;
}

.main__p {
  color: var(--accent-font-color);
  font-family: var(--accent-font), monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left; 
}

.p__shadow{
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.p__shadow:hover {
  border-bottom: 1px solid var(--accent-font-color);
}

.p__shadow:focus-visible { 
  outline: 1px solid var(--accent-font-color);
}

.p__shadow:focus {
  outline: 1px solid var(--accent-font-color);
  outline-offset: 2px;
}

.hard_focus {
  display: grid;
  gap: 16px;
}

.hard_focus__text {
  display: grid;
  gap: 15px;
}

.why {
  display: grid;
  gap: 20px;
}

.why-grid {
  display: grid;
  gap: 20px;
}

.why-blocks {
  display: grid;
  gap: 10px;
}

.p-gold_fish {
  display: grid;
  gap: 21px;
}

.p-gold-gap {
  display: grid;
  gap: 15px;
}

.p__title-font-weight {
  font-weight: 400;
}



.gallery {
  display: grid;
  /*grid-template-rows: auto 142px 355px 854px;*/
  gap: 9px;
}

.grid-container {
  display: grid;
  gap: 6px;
}

.gallery__images {
  inline-size: 100%;
  block-size: 100%;
}

.gallery__images-items {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding-block-start: 80px;
  justify-content: center;
  padding-bottom: 0;
  padding-left: 0;
  text-shadow: 4px 4px 0 var(--light-shadow);
}

.footer::after {
  inset-block-end: -25px;
}



.footer__title {
  color: var(--title-dark);
  font-family: var(--accent-font), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-weight: 700;
  line-height: 82.5%;
  align-self: center;
}

.grid__images {
  display: grid;
  gap: 10px;
}




@media (width >= 768px) {
  .page {
    padding: 3px 20px 0 0;
  }

  .header {
    padding-bottom: 12px;
  }

  .header__theme-menu-list {
    max-block-size: 85px;
  }

  .header::before {
    inset-block-start: 17px
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 23px;
  }

  .rec {
    inset-inline-end: 29px;
    inset-block-start: 18px
  }

  .main {
    padding: 57px 0 0 20px;
    
  }

  
  .hard_focus {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    
  }
  
  .hard_focus__text {
    display: grid;
    grid-row-gap: 10px;
  }

  .main__p-paddingb {
    padding-bottom: 10px;
  }

  .main__p-padding {
    padding-top: 10px;
  }

  .main__title {
    max-width: 236px;
  }
  
  
  .why {
    grid-template-columns: 1fr; /* Одна колонка */
    gap: 20px;
    padding-top: 30px;
  }

  .why-blocks {
    gap: 0;
  }

  

  .p-gold_fish {
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding-top: 30px;
  }

  .p-gold-gap {
    display: grid;
    gap: 15px;
  }

  .p__title-paddingt {
    padding-bottom: 2px;
  }

  .gallery {
    padding-top: 28px;
    grid-template-rows: auto 142px 355px 315px;
  }

 
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-top: 5px;
  }
  
  .grid-container div:nth-of-type(1) {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .grid-container div:nth-of-type(2) {
    grid-column: span 1;
    grid-row: span 2;
  }
  
  .grid-container div:nth-of-type(3) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .grid-container div:nth-of-type(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .grid-container div:nth-of-type(5) {
    grid-column: span 2;
    grid-row: span 1;
  }
 
  .footer {
    padding-block-start: 41px;
    padding-left: 23px;
  }

  .footer::before {
    inset-block-start: 41px;
  }

  .footer::after {
    inset-block-end: 0;
  }

  .header__p {
    justify-self: right;
    max-width: 364px;
  }
 
}

@media (width >= 1024px) {

  .why-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    column-gap: 20px;
    row-gap: 0;
  }
  .page {
    padding: 5px 20px 2px 0;
  }

  .header {
    padding-bottom: 24px;
  }
 
  .header__title {
    font-size: 157px;
    padding-top: 14px;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: start;
    padding-top: 15px;
    padding-left: 20px;    
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }

  .header__p {
    max-width: 491px;
  }

  .header::before {
    inset-block-start: 15px;
  }

  .rec {
    inset-block-start: 15px;
  }

  .main__title {
    max-width: 315px;
  }

  .hard_focus {
    grid-template-columns: 315px 1fr;
  }
 
  .why {
    gap: 20px;
    padding-top: 28px;
    align-items: start;
  }

  .why-blocks {
    grid-column: span 1;
    gap: 0;
  }


  .gallery {
    grid-template-rows: auto 142px 355px 584px;
  }

  .footer::before {
    inset-block-start: 40px;
  }

  .footer::after {
    inset-block-end: 0;
  }

  .footer__title {
    font-size: 157px;
  }
}